<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" verbose="1" parallel="false">

  <parameter name="browser" value="chrome"/>
  <test name="ChromeTest">
  	
    <classes>
      <!-- Package name + class name -->
      <class name="ActualTests.LoginTest" />
      <class name="ActualTests.ProductTests" />
   <!--   <class name="ActualTests.CartTests" /> -->
    <!--  <class name="ActualTests.CheckoutTests" />-->
  <!--    <class name="ActualTests.CheckoutOverviewTests" />  -->
   <!-- <class name="ActualTests.CheckoutCompleteTests" /> -->
    </classes>
  </test>
</suite>
